@media(max-width:300px){
    .container{
        margin-left: 0px;
    }
    .row{
        padding: 0px;
        margin: 0px;
    }
    .col-3{
        padding: 0px;
        margin: 0px;
    }
    .btn{
        font-size: xx-small;
        padding: 10% 20%;
    }
    h1{
        font-size: smaller;
    }
}